<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target name="console"
				xsi:type="Console"
				encoding="UTF-8">
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="time"       layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
				<attribute name="level"      layout="${level:upperCase=true}" />
				<attribute name="logger"     layout="${logger}" />
				<attribute name="request_id" layout="${aspnet-traceidentifier}" />
				<attribute name="url"        layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
				<attribute name="message"    layout="${message}" />
				<attribute name="exception"  layout="${exception:format=@:maxInnerExceptionLevel=5:innerFormat=@}" encode="false" />
				<attribute name="ip"         layout="${aspnet-request-ip}" />
				<attribute name="method"     layout="${aspnet-request-method}" />
				<attribute name="url"        layout="${aspnet-request-url}" />
				<attribute name="query"      layout="${aspnet-request-querystring}" />
				<attribute name="postedBody" layout="${aspnet-request-posted-body}" />
				<attribute name="userAgent"  layout="${aspnet-request-useragent}" />
				<attribute name="cookie"     layout="${aspnet-request-cookie}" />
				<attribute name="headers"    layout="${aspnet-request-headers}" />
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>
